body {
	background-image: url("https://previews.123rf.com/images/kaman123/kaman1231108/kaman123110800066/10232600-Ice-background-abstract-blue-bright-cold-color-cool-crystal-decoration-design-Stock-Photo.jpg");
}
.jumbotron{
	text-align: center;
	margin-top: 20px;
	opacity: .7;
}
.panel-default{
	opacity: .8 ;
}
#panelStyle{
	float:left;
	margin: 10px 20px 10px 0px;
}

img {
	height: 150px;
	width: 150px; 
}

